@font-face {
    font-family:'greatvibes';
    src: url(../fonts/GreatVibes-Regular.ttf);
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:'courgette';
    src: url(../fonts/Courgette-Regular.ttf);
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:'dosis';
    src: url(../fonts/Dosis-VariableFont_wght.ttf);
    font-style:normal;
    font-weight:400;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    height: 15rem;
    display:flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1500px;
}

.title h1 {
    font-size: 5rem;
    text-align: center;
    margin: 2rem 0;
}
h1 #franklin {
    font-family: courgette;
    color: gold;
}
h1 #decorators {
    font-family: dosis;
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    font-weight: bold;
}

.navbar ul li {
    border-bottom: 3px solid gold;
}

.article {
    margin-top: 2rem;
    width: 1500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
}

.announcement-container {
    width:inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.announcement-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    
}

.contact-header > h2,
.schedule-header > h2 {
    width: inherit;

    border: 5px solid white;

    font-size: 3rem;
    font-family: courgette;
    color: gold;
    text-align: center;

    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}

.contact-numbers {
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.number,
.location {
    text-align: center;
    width: inherit;
}

.number {
    font-size: 4rem;
    font-family: serif;
    font-weight: bold;
    margin-top: 1rem;
}
.location {
    font-family: courgette;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: gold;
}

.schedule-hours {
    text-align: center;
}

.day {
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
}
.hours {
    font-size: 4rem;
    font-family:monospace;
    font-weight: bold;
}
.hours-disclaimer {
    font-size: 1.7rem;
    font-family: serif;
    color: gold;
    text-align:left;
    padding: .5rem;
    font-weight: bold;
}
#disclaimer1 span {
    font-family: inherit;
    text-decoration: underline;
    text-decoration-color: white;
}

#disclaimer2 span {
    font-family: inherit;
    font-weight: bold;
    color: rgb(241, 240, 240);
}

.display-container {
    width: 1600px;
    display: flex;
    flex-direction: column;
}
.display-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-header {
    text-align: center;
}

.gallery-header > h2 {
    width: 1500px;

    border-top: 5px solid white;

    font-size: 3rem;
    font-family: courgette;
    color: gold;

    padding: 1rem;
    margin-top: 1rem;
}
.gallery-header > p {
    
    
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: dosis;
    letter-spacing: .2rem;
    
}

.images-container {
    display: flex;
    margin: 0;
    padding: 0;
}
.img-set1 {
    display: flex;
    flex-direction:row;
}

.img-set1 img {
    margin-right: 5px;
}

.img-set2 {
    display: flex;
    flex-direction: column;
}

.img-set2 > img:nth-of-type(1){
    margin-bottom: 5px;
}


/*
first draft

.header {
    height: 20vh;
    width: auto;
    background-color:#1a1918;
    display:flexbox;
    align-items: center;
}

.name-container {
    width: 1200px;
    margin:0;
    border: 5px solid gold;
}

#name {
    font-family: greatvibes;
    font-weight:400;
    font-size:8rem;
    color:gold;
    text-align:center;
    vertical-align: text-bottom;
}

.info-holder {
    margin:0;
    background-color:#1a1918;
}

.info {
    list-style-type: none;
}

.info li {
    color: gold;
    padding-top: .3rem;
    font-size: 1.3rem;
    text-align: center;

}
*/